.btn{
    padding:10px 15px;
    color:white;
    border: none;

    &.btn-warning{
        background-color: #B7D329;
        padding:10px 15px;
        color:white;
        border: none;
    }
    &.btn-primary{
      background-color: #25C2D0;
    
      .btn-icon-position{
          margin-top: 2px;
      }
  }
  &.btn-disabled{
      background-color: rgba(201, 201, 201, 1);;
  }

  &.btn-sm{
    padding:5px 7px !important;
  }
}

