.tabs{
  .tab-links{
    width:100%;
    list-style-type: none;
    padding:0;
    display:inline-block;
    margin-bottom:8px;
    font-size:80%;

    .tab-item{
      border-bottom:2px solid #eee;
      float:left;
      padding:10px;
      width: 15%;
      text-align: center;
    }
  }
}