$font-stack: helvetica;
$full-width: 100%;
$white-color:#FFF;
$padding:10px;
$margin:10px;
$direction-right: right;
$border-bottom:1px solid #E4E4E4;
$primary-color:#25C2D0;
$warning-color:#EDBE78;
$success-color:rgba(92, 184, 92, 1);
$danger-color:#E3332B;